<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Fuel SQC V2" parallel="tests" thread-count="1">
<!--    <test name="ASM_CHROME_LoginPage">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="tests.FSV2_ILCP_Internal"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="Goto_QC_Overview">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.FSV2_QC_Data_and_Chart_Overview"/>
        </classes>
    </test>
</suite>